.container {
  max-width: 1200px;
  padding: 0.2rem;
}

.search {
  background: #373f68;
  padding: 2rem 0;
}

#searchbox {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#search-input {
  position: relative;
  z-index: 33;
  width: 85%;
  padding: 0.4rem;
  border: none;
  border-radius: 0.4rem;
  background: #f7f8fd;
}

#search-input:focus,
#search-input:focus-visible {
  outline: 2px solid #ad1fea;
}

#search-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background: #ad1fea;
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 0.2rem;
  cursor: pointer;
}

#search-btn:hover {
  opacity: 0.8;
}

#search-btn:active {
  transform: translateY(1px);
}

.dropdown {
  position: absolute;
  width: 85%;
  top: 2.6rem;
  left: 0.5rem;
  background: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 1px 1px 0.4rem rgb(231, 231, 231);
}
.search__result {
  width: 100%;
  background: #fff;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search__result:hover {
  background: #dee0ec;
}

.search__result:not(:first-child) {
  border-top: 1px solid gray;
}

.search__result > p {
  font-size: 0.8rem;
}

.search__result--img {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-right: 1rem;
}

.search__result--img img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
}

.carousel {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel > div {
  min-width: 100%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* transition: all 1s cubic-bezier(0.39, 0.39, 0.39, 1); */
}

.carousel-img img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 45%;
  background: transparent;
  border: none;
  padding: 0 0.8rem;
  color: #000;
  cursor: pointer;
}

.arrow > svg {
  width: 30px;
}
.product-list {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  justify-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.product__card {
  max-width: 20rem;
  background: #dee0ec;
  border-radius: 1rem;
  padding: 1rem;
}

.product__card--carousel {
  width: 200px;
  height: 150px;
}

.product__card--text {
  padding: 0.6rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.select {
  position: relative;
}

.select-btn {
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

.select-box {
  position: absolute;
  margin-top: 0.2rem;
  border-radius: 0.4rem;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 0.4rem rgb(188, 187, 187);
  z-index: 20;
}

.select-box > button {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0.3rem;
  text-align: left;
  cursor: pointer;
}
.select-box > button:hover {
  color: rgb(172, 172, 172);
}
.select-box > button:not(:last-child) {
  border-bottom: 1px solid rgb(172, 172, 172);
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .arrow {
    padding: 0 0.4rem;
  }
  .arrow > svg {
    width: 20px;
  }
}
